DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/YOUR_WEBHOOK"
VALIDATOR_IDS="1,2,3"   # comma separated validator indexes or public keys to monitor
BEACONCHA_API_KEY="YOUR_BEACONCHA.IN API KEY"
CHECK_INTERVAL=86400  # how often to check, in seconds.  see https://beaconcha.in/pricing

